@import 'bookmarks';

.grid-container {
    display: grid;    
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 2fr repeat(12, 1fr) 2fr;
    grid-template-areas:

      ' nav nav nav nav nav nav nav nav nav nav nav nav nav nav '

      'intro intro intro intro intro intro intro intro intro intro intro intro intro intro'  

      '. title title title title title title title title title title title title .'

      '. bo-nav bo-nav bo-nav bo-nav bo-cont bo-cont bo-cont bo-cont bo-cont bo-cont bo-cont bo-cont .'
      
      'onec onec onec onec onec onec onec onec onec onec onec onec onec onec'

      '. title2 title2 title2 title2 title2 title2 title2 title2 title2 title2 title2 title2 .'

      '. slider slider slider slider slider slider slider slider slider slider slider slider .'

      'onec2 onec2 onec2 onec2 onec2 onec2 onec2 onec2 onec2 onec2 onec2 onec2 onec2 onec2'

      '. about about about about about about about about about about about about .'

      'subs subs subs subs subs subs subs subs subs subs subs subs subs subs'
      
      'footer footer footer footer footer footer footer footer footer footer footer footer footer footer';
  }

.nav {
    grid-area: nav;   

    display: grid;
    grid-template-columns: 2fr 2fr 5fr 1fr 4fr 2fr;
    grid-template-areas: '. nav-logo nav-menu . nav-contacts';
    align-content: center;
    text-align: start;

    &__logo {
      grid-area: nav-logo;

      font-family: 'Proxima';
      font-size: 2rem;
    }

    &__menu {
      grid-area: nav-menu;

      align-self: center;
      line-height: 3.5rem;
    }

    &__link {
      margin-right: 3rem;
      font-family: 'Raleway-Reg';
      font-size: .9rem;  
      
      &:last-child {
        margin-right: 0;
      }
      
    }

    &__contacts {
      grid-area: nav-contacts;
      display: flex;  
      align-self: center;
      justify-self: end;
         
      
      .phone-icon {
        margin-right: .6rem;
        align-self: center;
        padding-top: 2px;
      }

      .phone-number {
        margin-right: 2.6rem;
        font-size: 1.1rem;
      }

      .email-icon {
        margin-right: .6rem;
        align-self: center;
        padding-top: 2px;
      }

      .email-address {
        font-size: 1.1rem;
      }

    }
}

  .intro {
    grid-area: intro;    
    background: url(../img/header-bg.png) no-repeat;
    background-size: cover;
    padding-top: 117px;     

    display: grid;
    grid-template-columns: 2fr 5fr 7fr 2fr;
    grid-template-areas: '. intro-text intro-img .';
    align-content: center;    

    &__text {
      grid-area: intro-text;
      text-align: start;
      color: $white;
    }

    &-title {
      font-size: 2.5rem;
      font-weight: 700;
    }

    &-subtitle {
      font-family: 'Raleway-Light';
      font-size: 2.5rem;      
    }

    &-content {
      font-family: 'Raleway-Light';
      margin: 3rem 0;
      font-size: 1rem;
      font-weight: 300;
    }    

    &__img {
      grid-area: intro-img;       
    }
  }

  .btn {
    font-family: 'Raleway-Bold';
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 1rem 3.7rem;
    border: 2px solid $white;
    border-radius: 100px;
     transition: background-color .5s linear;
     transition: color .5s linear;

     &:hover {
       color: $btn-text;
       background-color: $white;       
     }
  }

  .title {
    grid-area: title;
    padding: 110px 0;
    
    &__main {
      text-align: center;
      font-family: 'Raleway-Bold';
      color: $title-main;
      font-size: 2.4rem;
    }

    &__text {
      color: $title-main;  
      font-weight: 300;  
      font-size: 1.07rem;  
      width: 750px;
      margin: 2.5rem auto 0;
      text-align: center;
    }
  }

  .bookmarks-nav {
    grid-area: bo-nav;
  }

  .tabs__header {
    font-size: 1.3rem;
    
  }

  .bookmarks-content {
    grid-area: bo-cont;
  }

  .onec {
    grid-area: onec;
    background-color: $blue-light;

    display: grid;
    grid-template-columns: 2fr 6fr 6fr 2fr;
    grid-template-areas: '. onec-text onec-img .';
    align-content: center;    

    &__text {
      grid-area: onec-text;
      text-align: start;
    }

    &__img {
      grid-area: onec-img;
      text-align: center;
    }
  }

  .title2 {
    grid-area: title2;
    padding: 110px 0;
    
    &__main {
      color: $black;
    }

    &__text {
      color: $black;     
      margin: 0 auto;
    }
  }

  .slider-con {
    grid-area: slider;
  }

  .onec2 {
    grid-area: onec2;
    background-color: $blue-light;

    display: grid;
    grid-template-columns: 2fr 6fr 6fr 2fr;
    grid-template-areas: '. onec2-text onec2-img .';
    align-content: center;    

    &__text {
      grid-area: onec2-text;
      text-align: start;
    }

    &__img {
      grid-area: onec2-img;
      text-align: center;
    }
  }

  .about {
    grid-area: about;
  }

  .subs {
    grid-area: subs;
  }
  
  .footer {
    grid-area: footer;
  }    